@font-face {
    font-family: "Righteous";
    src: "/SEIA/fonts/righteous.ttf";
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
/*font-family: 'Exo 2', sans-serif;*/

body {
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: "Righteous";
    letter-spacing: 1px;
    font-weight: 100;    
    color: #2a467a;
}

h1 {
    display: block;
    justify-content: right;
    font-size: 45pt;
    text-transform: uppercase;
    letter-spacing: 2px;  
}

h2 {
    font-size: 25pt;
    letter-spacing: 1px;
}

h3 {
    font-size: 17pt;
    margin-bottom: 3vh;
}

.alert { /*janela caso o usuario erre a senha*/
    display: block;
    margin: 5vh 0;
    padding: 2vh 5vh;
    width: 30vw;
    font-family: "Exo 2";
    font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: #ffc5c5;
    color: #4d4d4d;
}

    .texto .barra-horizontal {
        width: 50%;
        min-height: 3px;
        margin-left: 50%;
        margin-bottom: 8vh;
        background: #2a467a;
    }

    #tela-inicial h1, #tela-inicial p {
        text-align: right;
    }    

.corpo {    
    overflow-x: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    padding: 0 8vw;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

    .container h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .container p {
        margin-bottom: 3vh;
    }

    #pg-cadastro .desenho-e-texto {
        margin-top: 8vh;
    }

    .desenho-e-texto {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

        #tela-inicial .texto {
            display: block;
            justify-content: space-evenly;
            align-items: flex-start;
            overflow-x: hidden;
        }

        .desenho-e-texto .texto {
            display: inline-block;
            justify-content: space-around;            
            width: 49%;
            top: 0;
        }

        /*#termos-de-uso*/

            .desenho-e-texto .texto section {
                display: block;
                justify-content: space-around;
                padding-left: 10vh;
                width: 75%;
            }            

            .desenho-e-texto #termos-de-uso p {
                margin-bottom: 3vh;
            }

            .checkbox-termos {
                display: flex;
                width: 100%;
                align-items: center;                
            }

            #termos-de-uso .checkbox-termos p {
                margin-bottom: 0px;
                padding-left: 1vw;
            }            

            #criar-conta {
                display: flex;
                justify-content: space-around;
                margin-top: 6vh;
            }

            #criar-conta .form-group {width: 70%;}

            #criar-conta button {width: 70%;}

        .texto-conteudo {
            font-family: "Exo 2";
            font-size: 14pt;
            color: #4d4d4d;
        }

        #tela-inicial .texto .texto-conteudo {
            padding-left: 10vw;
        }

            .texto form {
                width: 35vw;
                display: block;
                justify-content: space-between;
            }

            .texto form p { text-align: center; }

                .texto form .form-group {
                    display: block;
                    margin-bottom: 10px;
                }

                    .form-group label, .form-group input {
                        display: block;
                        margin-bottom: 7px;
                    }

                    .form-group label {
                        font-family: "Righteous";
                        font-size: 12pt;
                        font-weight: 100;
                        text-transform: uppercase;
                        color: #adb7ca;
                    }

                    .form-group input, .form-group textarea {
                        width: 100%;
                        max-width: 33.2vw;
                        min-height: 3vh;
                        border: 2px solid #adb7ca;
                        padding: 10px;
                        font-family: "Exo 2";
                        font-size: 12pt;
                        color: #2a467a;
                    }

                    .form-group button {
                        width: 100%;
                        border: none;
                        border-radius: 5px;
                        margin: 15px 0;
                        padding: 15px 10px;
                        font-family: "Righteous";
                        font-size: 14pt;
                        text-transform: uppercase;
                        color: white;
                        background: #2a467a;
                        cursor: pointer;
                        transition: 1s;
                    }

                        .form-group button:hover {
                            opacity: 0.7;
                        }

                    .form-group #olho-senha {
                        position: absolute;
                    }

            .texto form a {
                font-family: "Righteous";
                font-size: 12pt;
                font-weight: 100;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                color: #2a467a;
                cursor: pointer;
                transition: 1s;
            }

                .texto form a:hover {
                    opacity: 0.7;
                    transition: 1s;
                }

        .barra-vertical {
            width: 3px;
            min-height: 100%;
            background: #adb7ca;
        }

        .desenho-e-texto .desenho {
            display: flex;
            justify-content: space-around;
            width: 49%;
        }

            .desenho img {
                display: inline-block;
                max-width: 32vw;
            }

            .desenho img#balao {
                display: block;
                transition: 1s;
                animation: cima-baixo 5s ease-in infinite;
            }

            .desenho img#nuvens {
                position: absolute;
                transition: 1s;
                animation: esquerda-direita 8s ease-out infinite;
            }

footer {
    display: flex;
    margin-top: 5vh;
    padding: 2vw 0;
}

    footer p {
        width: 100%;
        font-family: "Exo 2";
        font-size: 12pt;
        font-weight: 0;
        text-align: center;
    }       